@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/*
font-family: 'Yeseva One', cursive;
font-family: 'Poppins', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #8D8D8D;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    align-items: center;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* common css */
.whatwedo, .projects, .achievement, .dedicated, .contact, footer{
    background-color: #FAFFFD;
    min-height: 100px;
}

.btn{
    width: 150px;
    margin-top: 0;
    font-weight: 500;
    font-size: 18px;
    color: #fff !important;
    background: -moz-linear-gradient(-45deg,  #2af598 0%, #009dff 100%); 
    background: -webkit-linear-gradient(-45deg,  #2af598 0%,#009efd 100%); 
    background: linear-gradient(135deg,  #2af598 0%,#009efd 100%);
    padding: 12px 22px;
    border: 0;
    border-radius: 25px 0px;
    transition: box-shadow .4s ease-in-out;
}

.btn:hover{
    box-shadow: 0px 5px 50px rgba(0, 0, 0, .15);
}

.c_padding{
    padding: 75px 0;
}

.c_h1{
    margin-bottom: 20px;
    font-family: 'Yeseva One', cursive;
    font-size: 40px;
    color: #0D052E;
}
/* common css end */

/* scroll to top */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #009dff;
    color: white; 
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 18px;
    transition: all .4s;
  }
  
  #myBtn:hover {
    box-shadow: 0 12px 20px rgb(0 0 0 / 15%);
  }


/* header start */

/* header{
    position: sticky;
    top: 0;
    z-index: 999;
} */

header.main_header{
    padding: 20px 0 0;
    background: url(../images/header-bg1.png) no-repeat left top/11.5%;
}

header.mobile_header .header_row{
    display: flex;
    justify-content: space-between;
}

.mobile_header_logo{
    width: 30%;
}

.top_bg{
    position: absolute;
    top: -60%;
    left: 25%;
}

.main_logo{
    max-width: 20%;
    flex-basis: 20%;
}

.logo{
    width: 105px;
}

nav{
    flex-basis: 80%;
    max-width: 80%;
}

nav ul{
    justify-content: flex-end;
}


nav ul li a{
    font-weight: 500;
    margin-right: 25px;
    color: #263F44;
    transition: color .4s ease-in-out;
}

nav ul li a:hover{
    color: #11C1D2;
}

nav ul li:last-child a{
    margin-right: 0;
}

/* .navbar-light .navbar-toggler {
    color: rgba(0,0,0,.55);
    border-color: #11C1D2;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 2px #11C1D2;
} */


button:focus{
    outline: 0;
}

/* mobile_header start */

.mobile_header ul {
    text-align: center;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 12px 0;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

/* header end */



/* banner start */

.banner{
    position: relative;
    background: url(../images/header-bg2.png) no-repeat right top/46%;
}

.banner .row{
    justify-content: space-between;
}

.b_top_bg{
    position: absolute;
    top: -55px;
    left: 25px;
    width: 135px;
    z-index: -1;
}

.b_left_bg{
    position: absolute;
    top: 31%;
    left: -108px;
}

.banner_text{
    flex-basis: 40%;
    max-width: 40%;
}

.b_title{
    position: relative;
}

.uc_h1{
    margin-bottom: 30px;
    font-family: 'Yeseva One', cursive;
    font-size: 66px;
    color: #0D052E;
    word-spacing: 7px;
    line-height: 0.95;
}

.b_title p{
    margin-bottom: 30px;
    line-height: 30px;
}

.b_bg_bottom{
    position: absolute;
    width: 25%;
    right: -75px;
    bottom: -105px;
}

.banner_img{
    flex-basis: 50%;
    max-width: 50%;
}

.b_img_wrapper{
    position: relative;
}

.b_bg{
    width: 80px;
    position: absolute;
    top: 3px;
    left: -6px;
}


/* what we do start */

.whatwedo{
    background-image: url(../images/7.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 125% 100%;
}

.whatwedo_text{
    flex-basis: 50%;
    max-width: 50%;
    margin: 0 auto;
}

.w_title{
    padding-bottom: 40px;
    text-align: center;
}

.single_wrapper{
    flex-basis: 25%;
    max-width: 25%;
    /* margin: 0 .5%; */
}


.single{
    padding: 35px 18px 25px;
    cursor: pointer;
    text-align: center;
    transition: .4s ease-in-out;
}

.single:hover{
    background-color: #fff;
    border-radius: 100px 0px;
    box-shadow: 0px 0px 40px rgba(32, 168, 111, 0.15);
    z-index: 1;
}

.single .service_img{
    width: 100px;
    margin: 0 auto 20px;
}

.single h2{
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    color: #34285C;
}

/* what we do start */


/* projects start */
.projects{
    background: url(../images/left-center-bg.png) no-repeat right bottom/36%;
}

.projects .row{
    justify-content: space-between;
}

.projects_left{
    flex-basis: 50%;
    max-width: 50%;
}
.p_img_wrapper{
    position: relative;
}

.p_img_wrapper .top_light{
    width: 70px;
    position: absolute;
    left: 100px;
    top: -20px;
    z-index: -1;
}

.p_img_wrapper .bottom_light{
    width: 95px;
    position: absolute;
    bottom: -70px;
    right: 20px;
    z-index: -1;
}

.projects_right{
    flex-basis: 40%;
    max-width: 40%;
}

/* projects end */


/* achievement start */
.achievement .row{
    justify-content: space-between;
}

.achivement_left{
    flex-basis: 43%;
    max-width: 43%;
}

.av_text{
    padding-right: 20px;
}

.av_text h1{
    font-size: 38px;
}

.av_text p{
    word-spacing: 0px;
    line-height: 30px;
}

.achivement_right{
    flex-basis: 53%;
    max-width: 53%;
}


.achivement_single_wrapper{
    flex-basis: 48%;
    max-width: 48%;
}

.acve_single1{
    margin: 20px 0;
    padding: 27px 22px;
    color: #707070;
    border-radius: 0px 60px;
    box-shadow: 0px 6px 60px rgba(61, 232, 152, 0.15);
    transition: all .4s ease;
    cursor: pointer;
}

.achivement_icon_wrapper{
    flex-basis: 33.33%;
    max-width: 33.33%;
}

.achivement_value_wrapper{
    flex-basis: 66.66%;
    max-width: 66.66%;
}

.acve_single2{
    margin: 20px 0;
    padding: 27px 22px;
    color: #707070;
    border-radius: 60px 0px;
    box-shadow: 0px 6px 60px rgba(61, 232, 152, 0.15), 0px -6px 60px  rgba(61, 232, 152, 0.15);
    transition: all .4s ease;
    cursor: pointer;
}


.icon i{
    font-size: 60px;
}

.acv_text h2{
    margin-bottom: 2px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 38px;
    color: #707070;
    transition: color .4s ease;
}
.acv_text p{
    margin-bottom: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #707070;
    transition:  color .4s ease;
}

.acve_single1:hover, .acve_single2:hover{
    background: -moz-linear-gradient(-45deg,  #2af598 0%, #009efd 100%); 
    background: -webkit-linear-gradient(-45deg,  #2af598 0%,#009efd 100%); 
    background: linear-gradient(135deg,  #2af598 0%,#009efd 100%);
    color: #fff;
}

.acve_single1:hover .acv_text h2, .acve_single1:hover .acv_text p{
    color: #fff;
}

.acve_single2:hover .acv_text h2, .acve_single2:hover .acv_text p{
    color: #fff;
}


/* achievement start */


/* dedicated section start */
.dedicated{
    position: relative;
    background: url(../images/plan-bg.png) no-repeat left center/38%;
}

.dedicated_title_wrapper{
    flex-basis: 60%;
    max-width: 60%;
    margin: 0 auto;
}

.dedicated_title{
    margin-bottom: 70px;
    text-align: center;
}

.dedicated_plan_single_wrapper{
    flex-basis: 33.33%;
    max-width: 33.33%;
}

.d_plan{
    margin: 10px 32px;
    padding: 25px 55px;
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: border .4s ease-in-out;
    text-align: center;
}

.d_plan:hover{
    border: 2px solid #3CEDCE;
}

.d_plan:hover .order_btn{
    opacity: 1;
}

.d_plan:hover .price_title{
    border-bottom: 1px solid transparent;
}

.d_plan:hover .price_title h2, .d_plan:hover .price_title p{
    color: #0F0F0F;
}

.price_title{
    border-bottom: 1px solid #4FD1CB;
    transition: .4s ease-in-out;
}
.price_title h2{
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: 600;
    color: #494242;
    transition: color .4s ease-in-out;
}
.price_title p{
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #353535;
    opacity: .8;
    transition: color .4s ease-in-out;
    
}
.plan_detail{
    margin: 15px 0;
}
.plan_detail ul li{
    margin-bottom: 15px;
    font-size: 19px;
    font-weight: 500;
    color: #353535;
}
.order_btn{
    margin-bottom: 10px;
    padding-top: 22px;
    opacity: 0;
    transition: .4s ease-in-out;
}
/* dedicated section end */


/* contact section start*/

.contact{

}

.contact .row{
    justify-content: space-between;
}

.signup_wrapper{
    flex-basis: 70%;
    max-width: 70%;
    margin: 0 auto;
}

.signup_title{
    text-align: center;
    margin-bottom: 60px;
}

.signup_title h1{
    font-size: 39px;
    margin-bottom: 15px;
}

.signup_title p{
    margin-bottom: 0;
    font-size: 20px;
    color: #353535;
    opacity: .8;
}

.signIn-box{
    margin: 0 auto;
    width: 75%;
    background-color: #fff;
    padding: 5px;
}
.signIn-box input{
    width: 65%;
    padding: 0px 10px;
    background: transparent;
    border: 0;
}


.signIn-box input:focus{
    outline: none;
}

.signIn-box input::placeholder{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #353535;
    opacity: .4;
}
.signIn-box button[type="submit"]{
    width: 178px;
    height: 55px;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    background: -moz-linear-gradient(-45deg,  #2af598 0%, #009efd 100%); 
    background: -webkit-linear-gradient(-45deg,  #2af598 0%,#009efd 100%); 
    background: linear-gradient(135deg,  #2af598 0%,#009efd 100%);
    border: 0;
    cursor: pointer;
}

/* contact section end*/


/* footer start */
footer{
    padding: 60px 0px 17px;
}

footer .row{
    align-items: flex-start;
}

.footer_logo{
    flex-basis: 35%;
    max-width: 35%;
}

.f_logo{
    width: 105px;
}

.social_link{
    margin-top: 30px;
}
.social_link ul li{
    margin-right: 10px;
}
.social_link ul li a{
    width: 35px;
    height: 35px;
    font-size: 22px;
    color: #fff;
    background-color: #353535;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s ease-in-out;
}

.social_link ul li a:hover{
    background-color: #11C1D2;
}
.f_col{
    flex-grow: 1;
}
.f_col ul li a{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #464646;
    text-decoration: none;
    transition: color .4s ease-in-out;
    line-height: 32px;
}

.f_col ul li a:hover{
    color: #11C1D2;
}

.copy_right{
    margin-top: 25px;
    text-align: center;
}

/* footer end */